@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color:#f5f5f5;
	overflow:none;
}

.left-sidebar
{
	float:left;
	width:250px;
	height:100%;
	background-color:#fff;
	position:fixed;
	left:-190px;
	transition-property:left;
	transition-duration: 200ms;
	transition-timing-function:linear;
	z-index:1000;
	top:0;
}

.dock 
{
	left:0;
}

.left-sidebar:hover
{
	left:0;
	transition-duration: 200ms;
	transition-timing-function: linear;
}

.header
{
	width:100%;
	height:60px;
	background-color:#fff;
	position:fixed;
	top:0;
	z-index:1;
}

.top-logo
{
	margin-left:100px;
	width:300px;	
	font-size: 30px;
	float:left;
	font-weight: bold;
	color: #4b4b4d;
	margin-top:15px;
}

.notification
{
	color:#333;
	width:450px;
	margin-left:150px;
	position:absolute;
	float:left;
	top:15px;
}

.notif
{
	border-left:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	font-size:24px;
	color:#10cfbd;
	padding:0 20px 0 20px;
}

.circle
{
	width:8px;
	height:8px;
	border-radius:4px;
	background-color:#ff004d;
	position: absolute;
	left: 45px;
}
/* changes start */
/* search for "heart1" and replace heart1 and circle1 // and add others between the comments   */
.heart1
{
	width:25%!important;
	color:#0ca597; 
	margin-left:5px;
	text-align:center!important;
}

.image1
{
	float:left;
	width:30px;
	margin-left:16px;
	z-index:0px;
}

.fb1
{
	width:13px!important;
	padding:0!important;
	margin-top:-22px;
	margin-left:37px;
	opacity:1;
	color:#3b5998!important;
	border-radius:15px!important;
}

.circle1
{
	margin-top:13px;
	width:0%!important;
	font-size:10px !important;
	border-radius:5px;
	z-index:1000;
	margin-left:-21px;
	color:#ff004d!important;
	padding:0px!important;
}
/* Till this line */
/* changes end */


.search-bar
{
	margin-left: 210px;
	margin-top: 12px;
	min-width: 300px;
	font-family:roboto;
	font-weight:300;
	color:#919191;
	font-size:14px;
}

.search-bar i
{
	font-size:16px;
	color:#919191;
}

.top-area
{
	background-color:#0ca597;
	height:60px;
}

.top-logo-band-text
{
	height:100%;
	font-size:20px;
	color:#fff;
	width:65%;
	padding-top:24px;
	font-weight:bold;
	padding-left:15%;
	float:left;
}

.top-logo-band
{
	height:100%;
	font-size:20px;
	color:#fff;
	width:10%;
	padding-top:25px;
	float:left;
}

.top-logo-s
{ 
	float:left;
	height:100%;
	font-size:30px;
	color:#fff;	
	width:25%;
	text-align:center;
	padding-top:15px;
	font-weight:bold;
}

.left-nav
{
	background-color:#fff;
}

/* .left-sidebar:hover .left-nav ul
{
	overflow-y:scroll;
}
 */
.left-nav ul
{
	list-style-type:none;
	overflow-y:none;
}


/* .left-nav ul::-webkit-scrollbar 
{
    width: 4px;
}

.left-nav ul::-webkit-scrollbar-track 
{
	background-color:#ddd;
}

.left-nav ul::-webkit-scrollbar-thumb 
{
	background-color:#ddd;
}
​ */
.left-nav ul li
{
	height:50px;
	text-align:left;
	transition-property:linear;
}

.ma-to
{
	margin-top:30px;
}

.left-nav ul li:hover, .left-nav ul li:hover .left-nav ul li a
{
	cursor:pointer;
	color:#0ca597;
}

.left-nav ul li a
{
	width:70%;	
	float:left;
}

.l-title
{
	height:25px;
	margin-top:10px;
	width:100%;
	float:left;
	font-size:15px;
	text-align:left;
	color:#777;
}

.l-update
{
	height:15px;
	width:100%;
	float:left;
	font-size:12px;
	text-align:left;
	color:#ccc;
}

.left-nav ul li .fa
{
	padding-top:15px;
	font-size:20px;
	height:50px;
	width:30%;
	float:left;
	text-align:center;
	color:#555;
}


.icon-lock
{
}

.icon-lock:hover
{
}

.icon-lock2
{
	visibility:hidden;
	margin-top:-20px;
}



.bot-icons
{
	background-color:#ccc;
	height:200px;
	bottom:0;
}

.user-icon
{
	border-radius:25px;
}

.right-sidebar
{
	float:right;
	width:70px;
	height:100%;
	background-color:#4b4b4d;
	position:fixed;
	right:0;
	text-align:center;
	top:60px;
	z-index:0;
}

.right-sidebar ul
{
	float:right;
	list-style:none;
	margin:0;
	margin-right:15px;
}

.right-sidebar ul li
{
	width:40px;
	height:40px;
	margin-top:20px;
	text-align:center;
}

.right-sidebar a img
{
	width:40px;
	margin-top:-12px;
	border-radius:20px;
}


.right-sidebar ul li:hover, .right-sidebar ul li:hover .close-button
{
	visibility:visible;
	cursor:pointer;
}



.close-button:hover
{
	opacity:0.9;
}
.close-button
{
	right:0;
	top:-40px;
	height:12px;
	width:12px;
	border-radius:6px;
	float:right;
	z-index:1000;
	opacity:0.7;
	padding:0;
	font-weight:bold;
	font-size:10px;
	background-color:#fff;
	visibility:hidden;
}


.contain
{
	left: 22.5%; 
	top: 8%; 
	width: 55%; 
	height: 84%; 
	overflow:hidden;
	background-color:#0ca597;
	z-index:1000;
	position:fixed;
	color:#eee;
	transform:scale(0);
}


.popup1
{
	width: 100%; 
	height: 100%; 
	background-color:#0ca597;
	color:#eee;
}


 @keyframes ripple 
 {
	0%
	{
		border-radius:100%;
		transform: scale(0);
	}

	100% 
	{
		transform: scale(1);
		border-radius:0;
	}
}

@keyframes rippleback 
{
	0%
	{
		border-radius:0%;
		transform: scale(1);
	}
	100%
	{
		transform: scale(0);
		border-radius:100%;
	}
}


.popup1-upper
{
	margin-left:4%;
	margin-top:4%;
	height:23%;
	width:92%;
	font-size:18px;
	background-color:#0ca597;
}
.popup1-lower
{
	height:76%;
	width:100%;
	background-color:#fff;
	overflow-y:scroll;
}

.span12
{
	height:25px;
	width:100%;
}

.span34
{
	margin-top:25px;
	height:25px;
	width:100%;
	border-bottom:1px solid #eee;
}

.span1
{
	float:left;
	width:98%;
}

.span2
{
	float:left;
	width:2%;
}
.span3
{
	font-size:15px;
	float:left;
	width:98%;
}

.span4
{
	float:left;
	width:2%;
}

.span56
{
	margin-top:23px;
	height:32px;
	width:100%;
}

.span5 span
{
	padding:8.5px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	font-size:12px;
}

.span5 span:hover
{
	cursor:pointer;
	padding-bottom:6.5px;
	border-bottom:2px solid #aaa;
}

.span6
{
	float:right;
}

.span6 span
{
	padding:8.5px;
	padding-left:10px;
	padding-right:10px;
	float:right;
	font-size:12px;
}

.popup1-lower ul
{
	height:90%;
	margin-top:20px;
	margin-left:-20px;
	list-style-type:none;
}

.popup1-lower ul li
{
	height:61px;
	width:220px;
	background-color:#eee;
	float:left;
	transition-property:background;
}


.popup1-lower ul li:nth-child(3n-1)
{
	margin:20px;
	margin-top:0px;
	margin-bottom:0px;
}

.popup1-lower ul li img
{
	float:left;
	width:35px;
	margin-left:10px;
	margin-top:12.5px;	
	border-radius:20px;
}

.popup1-lower ul li span
{
	color:#333;
	float:left;
	width:120px;
	height:41px;
	font-size:12px;
	margin-left:12px;
	margin-top:24px;
}

.popup1-lower ul li input
{
	background-color:#444;
	border:0px;
	width:15px;
	height:15px;
	color:#fff;
	float:left;
	margin-left:12px;
	margin-top:24px;	
}

.ripef
{
	z-index:-1000;
	display: block;
	left: 110px;
	top: 30.5px;
	height:61px;
	width:220px;
	margin-left: -110px`;
	background-color: #ccc;
	border-radius:100%;
	opacity:0.4;
	transform:scale(0);
}

@keyframes ripeff 
{
	0%
	{
		transform: scale(0);
		border-radius:100%;
	}
	100%
	{
		border-radius:0%;
		transform: scale(1);
	}
}

@keyframes ripeffback 
{
	0%
	{
		border-radius:0%;
		transform: scale(1);
	}
	100%
	{
		transform: scale(0);
		border-radius:100%;
	}
}

/* CSS used here will be applied after bootstrap.css */

.dropdown 
{
    display:inline-block;
	margin-left:125px;
	padding:10px;
}





.notifications 
{
   min-width:420px; 
}

  
  .notifications-wrapper 
{
	
     overflow:auto;
	max-height:250px;
}

    
 .menu-title 
{
	
     color:#0C988A;
	font-size:1.5rem;
	display:inline-block;
}

 
.glyphicon-circle-arrow-right 
{
	
      margin-left:10px;
	 
   
}

  
   
 .notification-heading, .notification-footer  
{
	
 	padding:2px 10px;
}

      
        
.dropdown-menu.divider 
{
	
  margin:5px 0;
	   
  
}


.item-title 
{
	
  
 font-size:1.3rem;
	color:#000;
	

}


.notifications a.content 
{
	
 text-decoration:none;
	background:#ccc;
}

    
.notification-item 
{
	
 padding:10px;
	margin:5px;
	background:#f5f5f5;
	border-radius:4px;
}


.dropdown i
{
	font-size:24px;
}


/* CSS used here will be applied after bootstrap.css */


.main-container
{
	margin-left:90px;
	margin-top:90px;
	transition-property: left;
	transition-duration: 200ms;
	transition-timing-function: linear;
}


.featured
{
	width:40%;
	background-color:#fff;
	float:left;
	position:relative;
	min-width:300px;
	border-radius:5px;
}

.main-story1, .main-story2
{
	width:25%;
	background-color:#fff;
	float:left;
	position:relative;
	margin-left:10px;
	min-width:150px;
	border-radius:5px;
}

.widget1, .widget2
{
	width:25%;
	background-color:#fff;
	float:left;
	position:relative;
	margin-left:10px;
	min-width:150px;
	border-radius:5px;
}

.widget2
{
	margin-bottom:10px;
}

.widget1
{
	height:250px;
	max-width:396px;
	max-height:416px;
	background-color:#e6e6e6;
	margin-bottom:10px;
	border:#ccc 1px solid;
}

.main-story1
{
	margin-bottom:10px;
}

.main-story2
{
	margin-bottom:10px;
}

.clear
{
	clear:both;
}


h1
{
	font-size:18px;
	text-align:center;
	padding:0 10px 0 10px;
}


h2
{
	font-size:14px;
	text-align:left;
	padding:0 10px 0 10px;
}


p
{
	font-size:12px;
	color:#6a6a6a;
	padding:10px 10px 0px 10px;
}

.featured-image img
{
	width:100%;
}


.like i
{
	color:#fff;
	text-shadow: 2px 2px 3px #333333;
	font-size:22px;
	text-align:right;
	padding-right:15px;
	padding-top:15px;
	position:absolute;
	right:0;
}


.source
{
	 border-radius:20px;
	width:30px;
	height:30px;
	background-size:contain;
	margin-top:45px;
	position:absolute;
	right:10px;
}


.gallery
{
	 width:60px;
	height:60px;
	background-size:contain;
	float:left;
	margin-top:15%;
	position:absolute;
	margin-left:40%;
}



.like-small i
{
	color: #fff;
	text-shadow: 2px 2px 3px #333333;
	font-size: 15px;
	text-align: right;
	float: right;
	padding-right: 7px;
	padding-top: 7px;
	position: absolute;
	right: 0;
}


.source-small
{
	border-radius: 20px;
	width: 18px;
	height: 18px;
	background-size: contain;
	float: right;
	margin-top: 30px;
	position: absolute;
	right: 7px;
}


.gallery-small
{
	width: 40px;
	height: 40px;
	background-size: contain;
	float: left;
	margin-top: 15%;
	position: absolute;
	margin-left: 40%;
}



.date
{
	font-size:12px;
	color:#cccccc;
	padding:0px 10px 10px 10px;
}


.date-top
{
	font-size:12px;
	color:#cccccc;
	padding:10px 10px 0px 10px;
	
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color:#FFF; /* Grey fallback color */
    /*background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	opacity:0.9;
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 0%; /* 0% from the top */
    width: 100%; /* 100% width */
 }

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #454545;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #000;
}

/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 15px;
    right: 70px;
    font-size: 25px !important; /* Override the font-size specified earlier (36px) for all navigation links */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 25px !important;
        top: 15px;
        right: 70px;
    }
}


.form-control
{
	margin-left:100px;	
	font-size: 70px;
	float:left;
	font-weight: bold;
	color: #424242;
	margin-top:15px;
	border: 0;
	height:100px;
	background-color: transparent;
    box-shadow: none !important;
}

.top-logo-overlay
{
	margin-left:100px;	
	font-size: 30px;
	float:left;
	font-weight: bold;
	color: #4b4b4d;
	margin-top:15px;
}

.help-block
{
	margin-left:100px;	
	font-size: 15px;
	float:left;
	color: #424242;
	margin-top:0 !important;
}

h5{
	margin-left:110px;	
	font-weight:bold;
	float:left;
	color: #424242;
}

h6{	
	font-weight:bold;
	float:left;
	color: #424242;
	padding:13px 0px;
	
}

.col-lg-1
{
	margin:10px 0px 10px 100px;
}

.textview-style
{	
	font-size: 15px;
	float:left;
	color: #424242;
	border: 0;
	width:auto;
	height:35px;
	background-color: transparent;
    box-shadow: none !important;
}



/*

 .icon-lock2
{
	visibility:hidden;
	margin-top:-20px;
}


 */



.data
{
	display:none;
}

/* changes start */
.animate
{
	animation: ripple .4s ease-out;
	-webkit-animation: ripple .4s ease-out;
	-moz-animation: ripple .4s ease-out;
	-o-animation: ripple .4s ease-out;
	-ms-animation: ripple .4s ease-out;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	display:block;
}

.animateback
{
	animation: rippleback .4s ease-in;
	-webkit-animation: rippleback .4s ease-in;
	-moz-animation: rippleback .4s ease-in;
	-o-animation: rippleback .4s ease-in;
	-ms-animation: rippleback .4s ease-in;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	display:none;
}
.ripanimate
{
	animation: ripeff .4s ease-out;
	-webkit-animation: ripeff .4s ease-out;
	-moz-animation: ripeff .4s ease-out;
	-o-animation: ripeff .4s ease-out;
	-ms-animation: ripeff .4s ease-out;
}

.ripanimateback
{
	animation: rippleback .3s ease-in;
	-webkit-animation: rippleback .3s ease-in;
	-moz-animation: rippleback .3s ease-in;
	-o-animation: rippleback .3s ease-in;
	-ms-animation: rippleback .3s ease-in;
}

.transback
{
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
}

.trans
{
	transition-delay: .3s;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
}

/* changes end */
